<!DOCTYPE HTML>
<html>
	<head>
		<title>Tennesse Offroad Trails</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="main.css" />
	</head>
	

	<!-- Top Header Section with Nav and Pictures -->
	<section id="header">
		
		
		<header>
			<section id="tripleHeader"><img id="topLeft"src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.fr-OPJYOHsO6KBIETDNs8QHaFj%26pid%3DApi&f=1" alt=""/></section>
				
			<section id="tripleHeader"><h1 id="heading">Tennessee Offroad Trails</h1></section>
			
			<section id="tripleHeader"><img id="topRight" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.k76CaetgbWJ7h1Vlif4IsQHaFj%26pid%3DApi&f=1" alt=""/></section>
		
		</header>

		<nav id="nav">
			<ul>
				<li id="navyline" id="buttonOne"><a href="https://www.facebook.com/groups/265702964805568">Tennessee SxS Riders</a></li>
				<li id="navyline"><a href="https://www.superatv.com/">SuperATV</a></li>
			  <li id="navyline"><a href="https://www.facebook.com/Xtreme-RZR-Performance-135420917134444/">Extreme RZR Performance</a></li>
			</ul>			
		</nav>
	  
	
	</section>

	
	<!-- End Header -->


	<!-- Middle Body Section with Table -->
	<section id="middle">
		
	  <h2 id="middle"> This website is a reference for offroad trails in Tennessee and surrounding areas.</h2>
	  
	  <table>
		<tr>
		  <th>Name</th>
		  <th>Difficulty</th>
		  <th id="desc">Description</th>
		  <th>Location</th>
		  <th>Cost</th>
		  <!-- <th>Phone Number</th> -->
		</tr>
		<tr>
		  <td><a href="https://www.tn.gov/agriculture/forests/state-forests/franklin.html">Franklin State Forest</td>
		  <td>Beginner</td>
		  <td id="desc">Trails scattered through a TN state park are friendly for ATVs and SxS.
		  <td>Sherwood, TN</td>
		  <td>Free</td>
		</tr>
		<tr>
		  <td><a href="https://www.facebook.com/coalmontohvpark/">Coalmont OHV Park</td>
		  <td> Intermediate</td>
		  <td> Rocky trails wind around the mountain and into the hollow where a creek runs. There is a waterfall.</td>
		  <td> Coalmont, TN</td>
		  <td> $20 for parking</td>
		</tr>
		<tr>
		  <td><a href="https://www.adventureoffroadpark.com/">Adventure Offroad Park</td>
		  <td> Advanced </td>
		  <td> This site is best suited for rock crawlers. Some trails are suitable for ATVs/SxS.</td>
		  <td> South Pittsburg, TN</td>
		  <td> $20 </td>
		</tr>
		<tr>
		  <td><a href="https://circleeguestranch.com/"> Circle E Guest Ranch </td>
		  <td> Advanced </td>
		  <td> Large park with two alternating, rideable sides. There is a scenic waterfall.</td>
		  <td> Belvidere, TN </td>
		  <td> $20 </td>
		  </tr>
		 <tr>
		  <td><a href="https://windrockpark.com/">Windrock</td>
		  <td>Intermediate</td>
		  <td>Fully equipped offroad and camping park well known to offroad riders in the southeast.</td>
		   <td>Oliver Springs, TN</td>
		  <td> $27.33</td>
		  </tr>
		<tr>
		  <td><a href="https://stateparks.com/pickett_state_park_and_forest_in_tennessee.html"> Pickett State Forest OHV Area</td>
		  <td> Intermediate </td>
		  <td> State Park near the Kentucky border with many hours of riding and camping nearby.</td>
		  <td> Jamestown, TN </td>
		  <td> Free </td>
		</tr>
		<tr>

			<td><a href="https://www.brimstonerecreation.com/">Brimstone Recreation</td>
			<td> Intermediate </td>
			<td> Access to 300 miles of OHV trails, lodging, camping, and events.</td>
			<td> Huntsville, TN </td>
			<td> $28 per adult </td>
		  </tr>
		  <tr>
		  <td><a href="https://www.landbetweenthelakes.com/attractions/turkey-bay-ohv-area/">Turkey Bay OHV Area</td>
			<td> Intermediate </td>
			<td> Multiple marked trails over 100s of acres at Land Between The Lakes in Kentucky.</td>
			<td> Murray, KY </td>
			<!-- <td>80 Turkey Creek Rd, Murray, KY 42071</td> -->
			<!-- <td>+12709242233</td> -->
			<td> $20 </td>

		  </tr>
		  <tr>
			<td><a href="https://www.landbetweenthelakes.com/attractions/turkey-bay-ohv-area/">Royal Blue Resort</td>
			  <td> Intermediate </td>
			  <td> Great riding with campgrounds and other amenities for all.</td>
			  <td> Pioneer, TN </td>
			  <!-- <td>80 Turkey Creek Rd, Murray, KY 42071</td> -->
			  <!-- <td>+12709242233</td> -->
			  <td> Variable </td>
  
			</tr>
	  </table>
	  <!-- <button type="button"></button> -->
	  </section>
<!-- End Middle Body Section with table -->

<!-- <h1>Offroad Trails</h1>
<ul class="trails">
<% for(let i=0; i < info.length; i++) {%>
	<li class="rapper">
		<span><%= info[i].Name %></span>
		<span><%= info[i].Location %></span>
		<span><%= info[i].Cost%></span>
		<span><%= info[i].Difficulty%></span>
		<span><%= info[i].Description%></span>
		<span class='del'>delete</span>
	</li>
<% } %>
</ul>

<h2>Add A Trail:</h2> -->

	  <!-- Bottom Footer Begin -->
		<footer>
		</footer>
		<footer>
		</footer>
	  <!-- Bottom Footer End -->

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body> 
</html>